body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

  #container {
    height: 100vh;
    width: 70%;
  }

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  color: #222;
  text-decoration: none;
}

.nav-center a {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1.5px;
}

nav a:hover {
  color: #333;
}

nav a:nth-child(3) {
  font-size: 30px;
  letter-spacing: -4px;
}

.content {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cursor {
  position: absolute;
  pointer-events: none;
  width: 20px;
  height: 20px;
  z-index: 9999;
  visibility: hidden;
  top: 20px;
  left: 20px;
}

.flex-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#video-sound {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  z-index: 10;
  bottom: 10%;
  right: 14.9%;
}

#video-sound:hover {
  color: #fdb813
}

.yellow {
  color: #fdb813 !important;
}

.text {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  color: #222;
}

.text h4 {
  font-size: 16px;
  font-weight: 400;
}

.text p {
  font-size: 16px;
  font-weight: 300;
}

footer {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-block: 5px;
  width: 100%;
}

footer p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  color: #222;
  margin: 0;
  text-decoration: none;
}

#grid-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#grid-gallery img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.post-title {
  text-align: left;
  font-size: 14px;
  color: #fefefe;
  margin-bottom: 2rem;
  font-weight: 300;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-items: center;
  scrollbar-width: none;
}

.post-list::-webkit-scrollbar {
  display: none;
}

.post-preview {
  text-align: left;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  background: #fff;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.07);
  transition: transform 0.2s ease;
}

.post-preview-text {
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 10px;
}

.post-preview-text h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #222;
  margin-bottom: 5px;
}

.post-preview-text h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
  color: #222;
  margin-bottom: 5px;
}

.post-image {
  width: 400px;
}

#back-to-index {
  font-size: 12px;
  font-weight: 300;
  color: #222;
  text-decoration: none;
}

#back-to-index:hover {
  color: #222;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.post-content h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 45px;
  text-align: left;
  color: #222;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  body {
    height: auto;
    padding: 20px;
  }

  #container {
    height: 100vh;
    width: 90%;
  }

  nav a {
    font-size: 16px;
    margin: 0 10px;
  }

  .content {
    overflow: scroll;
  }

  .flex-box {
    flex-direction: column;
    align-items: center;
  }

  .text {
    font-size: 12px;
    text-align: left;
  }
}
